body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#gameCanvas, #particleCanvas {
  position: absolute;
  top: 0;
  left: 0;
}
